.panda-bg, .panda-login-bg{
    background-color: #FEEAE9;
}
.shakil{
    margin-top: 100px;
}
/* .panda-main-bg{
    background-color: #F4F4F4;
} */
.button{
    background-color: #FF428D;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}